<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="bitmap-adoption.ZPM">
    <Module>
      <Name>bitmap-adoption</Name>
      <Version>1.0.2</Version>
      <Description>Bitmaps for nonstandard IDs</Description>
      <Keywords>Bitmap, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="Bmap.PKG"/>
    </Module>
  </Document>
</Export>
